/*
    Components: c-module
    ---
*/

.c-module {
    position: relative;
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    // align-items: flex-start;

    border-bottom: $alpha-leading * .25px solid transparent;
    background: palette(color-neutral, xxxxx-light);
    box-shadow: 0 0 0 1px rgba(palette(color-neutral,xxxx-dark),.05), 0 2px 4px rgba(palette(color-neutral,xxxx-dark),.1);

    @include padding-lr($columns-gutter / 2, $columns-gutter / 2);
    @include padding-tb($alpha-leading / 2, $alpha-leading / 2);

    & + & {
        @include margin-top($alpha-leading / 2);
    }

    &--code {
        border-color: palette(color-code);
    }

    &--connect {
        border-color: palette(color-connect);
    }

    &--create {
        border-color: palette(color-create);
    }

    &--inform {
        border-color: palette(color-inform);
    }

    &--project {
        border-color: palette(color-project);
    }

    &:hover {
        text-decoration: none;
        opacity: .8;
    }
}

.c-module--link {

    &:hover {
        text-decoration: none;
        transform: translate(-2px, -2px);

        .c-module__title {
            color: palette(color-alpha);
        }
    }
}

    .c-module__title,
    .c-module__tags {
        transition: all $animation-duration-alpha $animation-easing-alpha;
    }

    .c-module__title {
        width: 100%;
        color: $body-color;
        @include ms-1;
        @include margin-bottom($alpha-leading * .5);
    }

    .c-module__tags {
        margin-bottom: 0;
        margin-top: auto;
        color: palette(color-neutral);
        font-family: $beta-font-family;
        text-transform: uppercase;
        @include ms-2;
    }
