/*
    Components: Row
    ---
    Creates a horizontal row with padding
*/

.c-row {
    position: relative;
    @include padding-lr($columns-gutter,$columns-gutter);
    @include padding-tb($alpha-leading * 2,$alpha-leading * 1);

    @include mq(bp3) {
        @include padding-lr($columns-gutter * 2,$columns-gutter * 2);
    }
}

.c-row--lg {
    @include mq(bp3) {
        @include padding-tb($alpha-leading * 4,$alpha-leading * 3);
    }
}

.c-row--xl {
    @include mq(bp3) {
        @include padding-tb($alpha-leading * 4,$alpha-leading * 3);
    }

    @include mq(bp6) {
        @include padding-tb($alpha-leading * 6,$alpha-leading * 5);
    }
}

.c-row--alpha {
    background-color: palette(color-alpha);
    color: palette(color-neutral,xxxxx-light);
}

.c-row--header {
    background-color: palette(color-alpha);
    z-index: 20;

    // @include mq(bp1) {
        // @include padding-lr($columns-gutter,$columns-gutter);
        @include padding-tb($alpha-leading,0);
    // }

    @include mq(bp3) {
        @include padding-tb($alpha-leading * 2,$alpha-leading * 2);
    }
}

.c-row--intro {
    background-color: palette(color-alpha);
    color: palette(color-neutral,xxxxx-light);
    background: palette(color-alpha) url('../img/svg/n-shape.svg') bottom center no-repeat;
    background-size: contain;

    @include mq(bp3) {
        @include padding-tb($alpha-leading * 2,$alpha-leading * 2);
    }

    @include mq(bp5) {
        @include padding-tb($alpha-leading * 3,$alpha-leading * 8);
    }
}

.c-row--clear {
    padding: 0;
}

.c-row--clear-top {
    padding-top: 0;
}

.c-row--clear-bottom {
    padding-bottom: 0;
}
