/*
    Components: Media
*/

.c-media {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: all $animation-duration-beta $animation-easing-alpha;
    width: 100%;
}

.c-media--link {
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

    .c-media__body {
        flex-grow: 1;
        background-color: palette(color-neutral,xxxxx-light);
    }

    .c-media__content {
        margin-top: auto;
        overflow: hidden;
    }

    .c-media__image-link {
        display: block;
    }

    .c-media__intro {
        color: $body-color;
    }

    .c-media__title {
        width: 100%;

        .c-media--link &,
        .c-media--link:visited & {
            color: palette(color-neutral,xxxx-dark);
        }
    }

    .c-media__text {
        color: palette(color-neutral);
    }

    .c-media__meta {
        font-family: $beta-font-family;
    }

    .c-media__more-link {
        text-decoration: underline;
    }

    .c-media__title,
    .c-media__text,
    .c-media__meta {
        transition: color $animation-duration-alpha $animation-easing-alpha;

        .c-media--link:hover &,
        .c-media--link:focus & {
            color: $link-color;
        }
    }

    .c-media__picture {
        position: relative;
        display: flex;
        align-items: flex-end;
        background-color: palette(color-alpha);
    }

    .c-media__image {
        min-width: 100%;
        transform: translateX(0) translateY(0);
        will-change: transform,opacity;
        transition: opacity $animation-duration-beta $animation-easing-alpha;

        .c-media--link:hover & {
           opacity: .75;
        }
    }

    .c-media__image--blazy {
        width: 100%;
        height: auto;
        opacity: 0;

        &.is-blazy-loaded {
            opacity: 1;
        }
    }
