/*
    Components: c-curriculum
    ---
*/

.c-curriculum-choice {
    position: relative;
    height: $alpha-leading * 2.5px;
    z-index: 20;
    @include margin-lr($columns-gutter * -.5);
}

    .c-curriculum-choice__box {
        position: absolute;
        top: 0;
        width: 33.3333%;
        left: 50%;
        background-color: palette(color-neutral,xxxx-light);
        @include padding-bottom($alpha-leading / 2);
    }

    .c-curriculum-choice__body {
        box-shadow: 0 0 0 1px rgba(palette(color-neutral,xxxx-dark),.025), 0 2px 4px rgba(palette(color-neutral,xxxx-dark),.1);
        background-color: #fff;
    }

    .c-curriculum-choice__button {
        margin-bottom: 0;
        width: 100%;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: $delta-font-weight;
        @include ms-1;
        @include padding-lr($columns-gutter * .75, $columns-gutter * .5);
        @include padding-tb($alpha-leading / 2,$alpha-leading / 2);
    }

.c-curriculum-choices {
    // display: none;
    position: relative;
    border-top: 1px solid palette(color-neutral,xxx-light);
    @include padding-tb($alpha-leading / 4,$alpha-leading / 4);
}

    .c-curriculum-choices__filter {
        display: flex;
        align-items: center;
        @include ms-1;
        @include padding-lr($columns-gutter * .75, $columns-gutter * .75);
        @include padding-tb($alpha-leading / 4,$alpha-leading / 4);

        &,
        &:visited {
            color: palette(color-neutral,dark);
        }

        &:hover {
            color: palette(color-neutral,xx-dark);
            text-decoration: none;
        }

        .is-selected & {
            color: palette(color-neutral,xx-dark);
            font-weight: $delta-font-weight;
        }
    }

    .c-curriculum-choices__symbol {
        fill: palette(color-neutral,xx-light);
        transition: fill $animation-duration-alpha $animation-easing-alpha;
        @include margin-right($columns-gutter / 4);

        .c-curriculum-choices__filter:hover & {
            fill: palette(color-neutral);
        }

        .is-selected &,
        .is-selected .c-curriculum-choices__filter:hover & {
            fill: palette(color-alpha);
        }
    }

.c-curriculum {
    display: flex;
    z-index: 10;
    @include margin-lr($columns-gutter * -.5);
    @include margin-bottom($alpha-leading);
}

    .c-curriculum__year {
        width: 33.3333%;
        display: flex;
        flex-wrap: wrap;
    }

    .c-curriculum__semester {
        width: 50%;
        @include padding-lr($columns-gutter / 2,$columns-gutter / 2);
    }

    .c-curriculum__semester--choice {
        background-color: palette(color-neutral,xxxx-light);
    }
