/*
    Components: Footer
*/

.c-footer {
    color: palette(color-neutral, xxxxx-light);
}

.c-footer__disclaimer {
    text-align: center;
    font-size: .8rem;
}

.c-footer__link {
    color: palette(color-neutral, xxxxx-light);
}