/*
    Components: Row
    ---
    Creates a horizontal row with padding
*/

.c-row {
    position: relative;
    // background-color: palette(color-neutral, xxxxx-light);
    z-index: 10;
    @include clearfix;
    @include padding-lr($columns-gutter,$columns-gutter);
    @include padding-tb($alpha-leading * 2,$alpha-leading * 1);

    @include mq(bp3) {
        @include padding-lr($columns-gutter * 2,$columns-gutter * 2);
    }
}

.c-row--lg {
    @include mq(bp3) {
        @include padding-tb($alpha-leading * 4,$alpha-leading * 3);
    }
}

.c-row--xl {
    @include mq(bp3) {
        @include padding-tb($alpha-leading * 4,$alpha-leading * 3);
    }

    @include mq(bp6) {
        @include padding-tb($alpha-leading * 6,$alpha-leading * 5);
    }
}

.c-row--alpha {
    background-color: palette(color-alpha);
    color: palette(color-neutral,xxxxx-light);
}


.c-row--beta {
    background-color: palette(color-neutral,xxxx-dark);
    color: palette(color-neutral,xxxxx-light);
}

.c-row--gamma {
    background-color: palette(color-neutral,xxxxx-light);
    @include box-shadow-lg;
}

.c-row--header {
    background-color: palette(color-alpha);
    z-index: 20;
    @include padding-tb($alpha-leading,0);

    @include mq(bp3) {
        @include padding-tb($alpha-leading * 2,$alpha-leading * 2);
    }
}

.c-row--intro {
    background-color: palette(color-alpha);
    color: palette(color-neutral,xxxxx-light);
    background: palette(color-alpha) url('../../img/svg/background-visual-top.svg') bottom center no-repeat;
    background-size: 110%;
    padding-bottom: 0;

    @include mq(bp3) {
        @include padding-tb($alpha-leading * 2,$alpha-leading * 2);
    }

    @include mq(bp5) {
        background-size: auto;
        @include padding-tb($alpha-leading * 3,$alpha-leading * 3);
    }

    & + .c-row {
        @include padding-top($alpha-leading);

        @include mq(bp5) {
            @include padding-top($alpha-leading * 2);
        }
    }
}

.c-row--carousel {
    overflow: hidden;
    box-sizing: content-box;
}

.c-row--clear {
    padding: 0;
}

.c-row--clear-top {
    padding-top: 0;
}

.c-row--clear-bottom {
    padding-bottom: 0;
}

.c-row--footer {
    // position: fixed;
    // bottom: 0;
    // left: 0;
    // right: 0;

    @include padding-tb($alpha-leading * 2,$alpha-leading * 1);

    background-color: palette(color-neutral, xxxx-dark);
    // z-index: 0;

    &:after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        height: 2px;

        background: $color-alpha; // NMCT Color for fallback.
        background: -moz-linear-gradient(left, $color-alpha 0%, $color-code 20%, $color-connect 40%, $color-create 60%, $color-inform 80%, $color-project 100%);
        background: -webkit-linear-gradient(left, $color-alpha 0%,$color-code 20%,$color-connect 40%,$color-create 60%,$color-inform 80%,$color-project 100%);
        background: linear-gradient(to right, $color-alpha 0%,$color-code 20%,$color-connect 40%,$color-create 60%,$color-inform 80%,$color-project 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-alpha', endColorstr='$color-project',GradientType=1 );
    }
}
