/*
    Components: Intro
*/

.c-intro-video {
    position: relative;
    @include box-shadow-xl;
}

    .c-intro-video__play-button {
        position: absolute;
        height: $alpha-leading * 3px;
        width: $alpha-leading * 3px;
        z-index: 20;
    }

    .c-intro-video__video {
        display: block;
        max-width: 100%;
        position: relative;
        z-index: 10;
    }
