/*
    Objects: Grid
    ---
    Grid system objects, works together with utility width classes
*/
.o-wrapper {
	position: relative;
	background-color: palette(color-neutral, xxxxx-light);
	z-index: 10;

	&--base {
		margin-bottom: 312px;
	}
}