/*
    Scope: Content
    ---
    Targetting elements with .s-content
*/

.s-content {
    h1,
    h2,
    h3 {
        color: palette(color-neutral,xxxx-dark);
    }

    * + h2 {
        @include padding-top($alpha-leading);
    }

    a {
        text-decoration: underline;
    }
}

.s-content-white {
    color: white;

    a {
        text-decoration: underline;
        &,
        &:visited {
            color: white;
        }
    }
}
