---
layout: default
title: New Media and Communication Technology
section: home
---
<main class="o-wrapper o-wrapper--base">
<section class="c-row c-row--intro">
    <div class="o-container">
        <div class="u-max-width-lg u-align-horizontal">
            <div class="c-main-section-xl">
                <p class="c-type-intro">
                    NMCT is een praktijkgerichte professionele IT bachelor opleiding rond nieuwe technologieën aan Howest, campus Kortrijk. In de eerste 3 semesters bouw je een stevige, allround IT basis op om daarna te kiezen uit 1 van onze 3 uitstroomprofielen: <a href="#!">Smart Technology Creator</a>, <a href="#!">Web & App Developer</a> of <a href="#!">Infrastructure engineer</a>.
                </p>
            </div>
            <div class="c-main-section-xl">
                <div class="c-video-player">
                    <button class="c-video-play-button">
                        {% include atom.symbol.html value="play" class="c-video-play-button__symbol" %}
                    </button>
                    <video class="c-video-player__video" poster="img/jpg/pexels-photo-668137.jpg">
                        <source src="mov_bbb.mp4" type="video/mp4">
                        <source src="mov_bbb.ogg" type="video/ogg">
                        Your browser does not support HTML5 video.
                    </video>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="c-row c-row--lg">
    <div class="o-container">
        <div class="u-max-width-lg">
            <div class="s-content">
                <h2 class="u-ms2 u-mb-gamma">
                    Control room for the future
                </h2>
                <div class="u-max-width-md">
                    <p class="u-ms2">
                        In 4 weken tijd bouwden onze NMCT studenten een prototype “Controlroom of the future” voor de biomassa centrales van Vyncke. Live data visualisatie vanuit Nederland in een Microsoft Hololens applicatie!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="c-row c-row--lg">
    <div class="o-container">
        <div class="o-grid o-grid--gutter o-flex o-flex--wrap o-flex--align-baseline u-mb-epsilon-neg">
            {% for item in site.data.posts limit:4 %}
                {% include atom.blog-article.html %}
            {% endfor %}
        </div>
    </div>
</section>
<section class="c-row c-row--lg c-row--beta">
    <div class="o-container">
        <div class="u-max-width-md u-align-horizontal">
            <h2>
                Inschrijven
            </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta cupiditate quia reiciendis distinctio totam obcaecati quibusdam placeat quidem sunt magnam deserunt ab blanditiis, neque corporis porro quis, magni, sit voluptates.
            </p>
        </div>
    </div>
</section>
</main>
<footer class="c-row c-row--footer">
    <div class="c-footer">
        <div class="o-container o-grid">
            <div class="o-grid__item u-2-of-4">
                <h3 class="c-type-header">NMCT</h3>
                <p>Je kan ons vinden in Kortrijk. We zijn een (professionele) Bacheloropleiding van de Howest. We helpen je om vanuit een goede knowhow over verschillende vlakken te groeien naar een Web & App Developer, een Smart Technology Creator of een Infrastructure Engineer.</p>
            </div>
            <div class="o-grid--gutter-sm"></div>
            <div class="o-grid__item u-1-of-4">
                <h3 class="c-type-header">Snelle links</h3>
                - A
                - B
                - C
            </div>
            <div class="o-grid--gutter-sm"></div>v
            <div class="o-grid__item u-1-of-4">
                <h3 class="c-type-header">Op de hoogte blijven?</h3>
                <p class="c-footer__social">Volg ons op social media!</p>
                <p class="c-footer__social--sub">We posten over leuke projecten, evenementen en opportuniteiten. Op:</p>
            </div>
        </div>
        <p class="c-footer__disclaimer">NMCT &copy; 2017</p>
    </div>
</footer>
