<div class="c-nav-mobile js-nav-mobile">
    {% include components.top.html %}
    <div class="c-nav-mobile__body">
        <div class="c-header">
            {% include components.logo.html %}
            <button class="c-nav-main-trigger js-nav-trigger">
                {% include atom.symbol.html value="close" class="c-nav-main-trigger__symbol" %}
            </button>
        </div>
        <div class="c-nav-mobile__nav">
            {% include components.nav-main.html %}
            <a href="#!" class="c-button c-button--md c-button--header-cta">Inschrijven</a>
        </div>
    </div>
</div>
