<section class="c-row c-row--xl">
    <div class="o-container">
        <div class="o-grid o-grid--gutter-lg">
            <div class="o-grid__item u-10-of-12-bp5 u-push-1-of-12-bp5">
                <div class="c-main-section-lg">
                    <div class="u-max-width-xl">
                        <h1 class="c-type-meta u-ms-1 u-mb-gamma u-opacity-gamma">
                            Schrijf je nu in
                        </h1>
                        <p class="c-type-intro">
                            Heb je een uitgesproken interesse in technologie? Wil je een complete pipeline leren bouwen van input tot user experience? Geloof je ook in leren door te doen en door echte cases op te lossen? NMCT levert IT'ers af die de applicaties van de toekomst bouwen. Hier nog iets over IoT.
                        </p>
                        <p>
                            <a href="#!" class="c-button c-button--beta c-button--rounded c-button--lg">Schrijf je in</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
