<!DOCTYPE html>
<html>

{% include generic.head.html %}

<body class="js-page">

    <!-- Deprecated browser alert -->
    {% include components.browser-alert.html %}
    <!-- End deprecated browser alert -->

    <!-- Page top -->
    <div class="c-row c-row--top">
        <div class="o-container">
            <p class="c-update">
                <a href="#!">Volgende SID-in: 18 januari 2018 in Leuven</a>
            </p>
        </div>
    </div>
    {% comment %}
    {% include components.top.html %}
    {% endcomment %}
    <!-- End page header -->

    <!-- Page header -->
    {% include components.header.html %}
    <!-- End page header -->

    {{ content }}

    <!-- Mobile Nav -->
    {% include components.mobile-nav.html %}
    <!-- End page footer -->

    <!-- Page footer -->
    {% include components.footer.html %}
    <!-- End page footer -->

    <!-- Footer javascript -->
    {% include generic.javascript.html %}
    <!-- End footer javascript -->

</body>
</html>
